"*":
  "atom-beautify":
    _analyticsUserId: "942de825-f534-40fc-b3a2-8d59ca542c4e"
  core:
    disabledPackages: [
      "linter-htmlhint"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "c0bc714b-6540-20ab-e755-ad825980a4bc"
  floobits:
    audioOnly: true
  "jscs-fixer": {}
  linter:
    errorPanelHeight: 55
  "linter-htmlhint": {}
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
